Django==1.5
django-appconf==0.5
django-forms-bootstrap==2.0.3.post1
django-jsonfield==0.8.12
django-user-accounts==1.0b13
django-waitinglist==1.0b10
eventlog==0.6.2
formly==0.5.2
metron==1.1
pinax-theme-bootstrap==3.0a9
pytz==2012j
wsgiref==0.1.2
